#bugshot-container {
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    font-size: 16px;
}

#bugshot-container>* {
    z-index: 9500;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 32, 64, 1);
    min-width: 60px;
    min-height: 60px;
    width: 4vw;
    height: 7vh;
    transition: 0.1s;
    transition-timing-function: ease-in;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

#sidebar>div {
    flex: 1;
}

#logo {
    height: 100vh;
    background-image: url("../images/svg/logo_bugshot.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#logo:hover {
    cursor: pointer;
}

#bug-list-button {
    background-image: url("../images/svg/bug_list_default.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#bug-list-button:hover {
    background-image: url("../images/svg/bug_list_hover.svg");
    cursor: pointer;
}

#admin-button {
    background-image: url("../images/svg/admin_icn_default.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#admin-button:hover {
    background-image: url("../images/svg/admin_icn_hover.svg");
    cursor: pointer;
}

#project-button {
    background-image: url("../images/svg/project_icn_default.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#project-button:hover {
    background-image: url("../images/svg/project_icn_hover.svg");
    cursor: pointer;
}

#add-button {
    flex: 1;
    background-image: url("../images/svg/new_bug_default.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#add-button:hover {
    background-image: url("../images/svg/new_bug_hover.svg");
    cursor: pointer;
}

#bug-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #F8F8FC;
    min-width: 270px;
    height: 100vh;
    width: 17vw;
    overflow: auto;
    padding: 0.6em;
}

#bug-list::-webkit-scrollbar {
    display: none;
}

#overlay {
    background-color: rgba(248, 248, 252, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    cursor: crosshair;
}

#mark {
    z-index: 9101;
    position: absolute;
    display: block;
    width: 32px;
    height: 56px;
    background-position: center center;
    background-repeat: no-repeat;
}

#loading {
    position: absolute;
    align-self: center;
    width: 158px;
    height: 158px;
    top: 50%;
    transform: translate(0%, -50%);
    background-image: url("../images/svg/loading.svg");
}

#bug-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #F8F8FC;
    min-width: 270px;
    height: 100vh;
    width: 21vw;
    overflow: auto;
    padding: 0.6em;
}

#bug-menu::-webkit-scrollbar {
    display: none;
}

#bug-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EEE5FC;
    border-radius: 20px;
    padding: 20px;
    box-shadow: #00000059 10px 10px 10px -11px;
}

#bug-description {
    border: 1px solid #EEE5FC;
    border-radius: 12px;
    margin: 10px 0px 10px 0px;
}

#bug-name {
    border: 1px solid #EEE5FC;
    margin: 10px 0px 10px 0px;
}

#form-submit {
    background: #18D992 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border-color: #18D992;
}

#form-submit:hover {
    background: #0dac72 0% 0% no-repeat padding-box;
}

#form-reset {
    background: #1872d9 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border-color: #1872d9;
}

#form-reset:hover {
    background: #0d4fac 0% 0% no-repeat padding-box;
}

#critical-option {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #F23838;
    text-align: center;
    border-color: #F23838;
    border-radius: 30px;
    padding: 3px 10px;
    height: 24px;
    width: fit-content;
    background-color: #FFFFFF;
    background-image: none;
}

#critical-option::after {
    content: "Critical";
}

#critical-option:checked {
    background-color: #F23838;
    color: #FFFFFF;
}

#important-option {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #FFB157;
    text-align: center;
    border-color: #FFB157;
    border-radius: 30px;
    padding: 3px 10px;
    height: 24px;
    width: fit-content;
    background-color: #FFFFFF;
    background-image: none;
}

#important-option::after {
    content: "Important";
}

#important-option:checked {
    background-color: #FFB157;
    color: #FFFFFF;
}

#normal-option {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #185FD9;
    text-align: center;
    border-color: #185FD9;
    border-radius: 30px;
    padding: 3px 10px;
    height: 24px;
    width: fit-content;
    background-color: #FFFFFF;
    background-image: none;
}

#normal-option::after {
    content: "Normal";
}

#normal-option:checked {
    background-color: #185FD9;
    color: #FFFFFF;
}

#minoir-option {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #18C0D9;
    text-align: center;
    border-color: #18C0D9;
    border-radius: 30px;
    padding: 3px 10px;
    height: 24px;
    width: fit-content;
    background-color: #FFFFFF;
    background-image: none;
}

#minoir-option::after {
    content: "Minor";
}

#minoir-option:checked {
    background-color: #18C0D9;
    color: #FFFFFF;
}