#sidebar {
    font-family: usual, sans-serif;
    font-style: normal;
    font-weight: 300;
    box-sizing: unset;
    background-color: rgba(26, 32, 64, 1);
    width: 88px;
    height: 72px;
    position: fixed;
    z-index: 9995;
    top: 50%;
    right: 0px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    transition: 0.1s;
    transition-timing-function: ease-in;
}

#sidebar.open {
    height: 100%;
    top: 0px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    padding: 0 0 0 0;
}

#logo {
    z-index: 9996;
    height: 100%;
    background-image: url("../images/svg/bug.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#logo:hover {
    cursor: pointer;
}

#logo.open {
    z-index: 9996;
    height: 3%;
    padding: 20%;
}

#task-button {
    z-index: 9996;
    display: none;
    text-align: center;
    padding: 10%;
    height: 10%;
    background-image: url("../images/svg/task.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#task-button:hover {
    background-image: url("../images/svg/task_active.svg");
    cursor: pointer;
}

#task-button.open {
    display: block;
}

#admin-button {
    z-index: 9996;
    display: none;
    text-align: center;
    padding: 10%;
    height: 10%;
    background-image: url("../images/svg/admin.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#admin-button:hover {
    background-image: url("../images/svg/admin_active.svg");
    cursor: pointer;
}

#admin-button.open {
    display: block;
}

#project-button {
    z-index: 9996;
    display: none;
    text-align: center;
    padding: 10%;
    height: 10%;
    background-image: url("../images/svg/project.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#project-button:hover {
    background-image: url("../images/svg/project_active.svg");
    cursor: pointer;
}

#project-button.open {
    display: block;
}

#add-button {
    display: none;
    position: fixed;
    top: 50%;
    z-index: 9996;
    text-align: center;
    padding: unset;
    height: 79px;
    width: 88px;
    background-image: url("../images/svg/add.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#add-button:hover {
    top: 51.3%;
    background-image: url("../images/svg/add_active.svg");
    cursor: pointer;
}

#add-button.open {
    display: block;
}

#task-list {
    display: none;
    background-color: #ff0000;
    width: 384px;
    height: 100%;
    position: fixed;
    right: 88px;
    text-align: center;
    text-decoration: none;
    overflow: auto;
}

#task-list.open {
    display: block;
}

.task {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 7px #0000001f;
    margin-bottom: 15px;
}

.task .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #EEE5FC;
    padding-bottom: 12px;
    margin-bottom: 14px;
}

.task .head .title {
    margin: 0;
    font-size: 17px;
    color: #1A2040;
    font-weight: 600;
}

.task .deadline::before {
    content: "Deadline: ";
    font-size: 14px;
    color: #1A2040;
    font-weight: 500;
}

.task .deadline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9BA5D7;
}

.task-container {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #EEE5FC;
    box-shadow: 0px 2px 4px #00000029;
}

.task-stage {
    margin: 0;
    font-size: 17px;
    color: #1A2040;
    font-weight: bold;
    text-transform: uppercase;
}

.task .priority.p1 {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
    padding: 3px 10px;
    background-color: #F23838;
}

.task .priority.p1::after {
    content: "Critical";
}

.task .priority.p2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
    padding: 3px 10px;
    background-color: #FFB157;
}

.task .priority.p2::after {
    content: "Important";
}

.task .priority.p3 {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
    padding: 3px 10px;
    background-color: #185FD9;
}

.task .priority.p3::after {
    content: "Normal";
}

.task .priority.p4 {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
    padding: 3px 10px;
    background-color: #18C0D9;
}

.task .priority.p4::after {
    vertical-align: middle;
    content: "Minor";
}

.task .body {
    display: flex;
    justify-content: space-between;
}

.task .body>div {
    display: inline-block;
    vertical-align: middle;
}