$white-blue: hsl(240, 100%, 95%);
$dark-blue: hsl(230, 40%, 20%);
$gray-blue: hsl(230, 45%, 75%);

.bug-group {
  margin-bottom: 5%;

  > .group-name {
    margin: 10px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    border-bottom: 1px solid $white-blue;
  }

  > .group-bugs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.bug-card {
  margin: 0.2em;
  margin-bottom: 0.5em;

  > .card {
    background: hsl(0, 0%, 100%) 0% 0% no-repeat padding-box;
    box-shadow: hsla(0, 0%, 0%, 0.35) 10px 10px 10px -11px;
    border-radius: 12px;
    padding: 0px 10px 0px 10px;
  }

  .bug-title {
    background: hsl(0, 0%, 100%);
    border-radius: 12px 12px 0px 0px;
    font-size: 1em;
    font-weight: bold;
    color: $dark-blue;
    border-bottom: 2px solid $white-blue;

    &:hover {
      cursor: pointer;
    }
  }

  .bug-deadline {
    align-items: center;
    color: $gray-blue;

    &::before {
      content: "Deadline: ";
      font-size: 14px;
      color: $dark-blue;
      font-weight: bold;
    }
  }
}
