#sidebar.open {
    height: 100vh;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

#sidebar.open>div {
    flex: 0.1;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

#overlay.marked {
    background-color: rgba(248, 248, 252, 0.3) !important;
    z-index: 9100 !important;
    cursor: not-allowed !important;
    flex: 1;
    position: fixed;
}

#mark.critical {
    background-image: url("../images/marks/mark_crit.svg");
}

#mark.important {
    background-image: url("../images/marks/mark_imp.svg");
}

#mark.normal {
    background-image: url("../images/marks/mark_normal.svg");
}

#mark.minor {
    background-image: url("../images/marks/mark_min.svg");
}

.bug-card .bug-deadline::before {
    content: "Deadline: ";
    font-size: 14px;
    color: #1A2040;
    font-weight: bold;
}

.bug-card .bug-deadline {
    align-items: center;
    color: #9BA5D7;
}

.priority {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    border-radius: 30px;
}

.priority.p4 {
    padding: 3px 10px;
    background-color: #F23838;
    width: fit-content;
}

.priority.p3 {
    padding: 4px;
    background-color: #FFB157;
    width: fit-content;
}

.priority.p2 {
    padding: 3px 10px;
    background-color: #185FD9;
    width: fit-content;
}

.priority.p1 {
    padding: 3px 10px;
    background-color: #18C0D9;
    width: fit-content;
}

.priority.p4::after {
    content: "Critical";
}

.priority.p3::after {
    content: "Important";
}

.priority.p2::after {
    content: "Normal";
}

.priority.p1::after {
    content: "Minor";
}

.group-bugs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.bug-group .group-name {
    margin: 10px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    border-bottom: 1px solid #F1E0E0;
}

.bug-group {
    margin-bottom: 5%;
}

.bug-card {
    margin: 0.2em;
    margin-bottom: 0.5em;
}

.bug-card .bug-title {
    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    font-size: 1em;
    font-weight: bold;
    color: #1A2040;
    border-bottom: 2px solid #EEE5FC;
}

.bug-card .bug-title:hover {
    cursor: pointer;
}

.bug-card .card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: #00000059 10px 10px 10px -11px;
    border-radius: 12px;
    padding: 0px 10px 0px 10px;
}

.state {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    height: 95%;
    width: 95%;
}

.state.success {
    font-size: 100%;
}

.state.error {
    font-size: 100%;
}

.state.success .logo {
    position: relative;
    align-self: center;
    width: 100%;
    height: 25%;
    background-image: url("../images/gif/bug_confirmation.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.state.success .message {
    position: relative;
    align-self: center;
    width: 80%;
    height: 8%;
    background-image: url("../images/svg/success.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.state.error .logo {
    position: relative;
    align-self: center;
    width: 80%;
    height: 25%;
    background-image: url("../images/gif/error_bug.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.state.error .message {
    position: relative;
    align-self: center;
    width: 80%;
    height: 8%;
    background-image: url("../images/svg/oops.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.loading {
    position: absolute;
    align-self: center;
    width: 158px;
    height: 158px;
    top: 50%;
    transform: translate(0%, -50%);
    background-image: url("../images/svg/loading.svg");
}

#bug-info>.details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EEE5FC;
    border-radius: 20px;
    padding: 20px;
    box-shadow: #00000059 10px 10px 10px -11px;
}

.details {
    font-size: 14px;
    color: #1A2040;
}

.details .header {
    margin-bottom: 0.5em;
}

.details.title {
    font-size: 20px;
    font-weight: 500;
    align-self: center;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.details.id {
    font-size: 12px;
}

.details.creator {}

.details.date-created {}

.details.screenshot {
    width: 100%;
    height: 230px;
    margin: 0.4em;
    background-color: grey;
}

.details.url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details.url a {
    color: #9BA5D7;
    font-size: 14px;
    text-decoration: none;
}

.details.description {}

.details.technical-info {}

.details.os {
    color: #9BA5D7;
}

.details.browser {
    color: #9BA5D7;
}

.details.selector {
    color: #9BA5D7;
}

.details.resolution {
    color: #9BA5D7;
}

.details-priority {
    width: -webkit-fill-available;
}

.details.status {
    width: -webkit-fill-available;
}

.details.deadline {}

.details.attach {}

.details.comments {}

.details.id::before {
    content: "id: ";
    text-transform: uppercase;
    font-weight: bold;
}

.details.creator::before {
    content: "creator: ";
    text-transform: capitalize;
    font-weight: bold;
}

.details.url::before {
    content: "url: ";
    text-transform: uppercase;
    font-weight: bold;
    color: #1A2040;
}

.details.description::before {
    content: "description: ";
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
}

.details.technical-info::before {
    content: "technical info: ";
    text-transform: capitalize;
    font-weight: bold;
}

.details.os::before {
    content: "Operating System: ";
    text-transform: capitalize;
    font-weight: bold;
    color: #1A2040;
}

.details.browser::before {
    content: "browser: ";
    text-transform: capitalize;
    font-weight: bold;
    color: #1A2040;
}

.details.selector::before {
    content: "selector: ";
    text-transform: capitalize;
    font-weight: bold;
    color: #1A2040;
}

.details.resolution::before {
    content: "resolution: ";
    text-transform: capitalize;
    font-weight: bold;
    color: #1A2040;
}

.details-priority::before {
    content: "priority: ";
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 10px;
}

.details.status::before {
    content: "status: ";
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 10px;
}

.details.deadline::before {
    content: "deadline: ";
    text-transform: capitalize;
    font-weight: bold;
}