$dark-blue: hsl(230, 40%, 20%);
$light-dark-blue: hsl(230, 40%, 40%);

#sidebar {
	display: flex;
	flex-direction: column;
	// background-color: $dark-blue;
	min-width: 65px;
	min-height: 60px;
	width: 4vw;
	height: 7vh;
	transition: 0.2s;
	transition-timing-function: ease-in;
	// border-top-left-radius: 13px;
	// border-bottom-left-radius: 13px;
	background: linear-gradient(
		to bottom right,
		transparent 0%,
		transparent 49%,
		$dark-blue 50%,
		$dark-blue 100%
	);

	> div {
		flex: 1;
	}

	&.open {
		height: 100vh;
		border-top-left-radius: unset;
		border-bottom-left-radius: unset;
		background: $dark-blue;

		#logo {
			margin: unset;
			background-origin: content-box;
		}
	}

	&.open > div {
		flex: 0.1;
	}

	#logo {
		background-image: url("/assets/global/logo_bugshot.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		// background-origin: content-box;
		padding: 0 1vw;
		margin: 50% 0% 10% 45%;

		&:hover {
			cursor: pointer;
		}
	}

	#bug-list-button {
		background-image: url("/assets/sidebar/bug_list_default.svg");
		background-position: center;
		background-repeat: no-repeat;

		&:hover {
			background-color: $light-dark-blue;
			cursor: pointer;
		}
	}

	#admin-button {
		background-image: url("/assets/sidebar/admin_icn_default.svg");
		background-position: center;
		background-repeat: no-repeat;

		&:hover {
			background-color: $light-dark-blue;
			cursor: pointer;
		}
	}

	#project-button {
		background-image: url("/assets/sidebar/project_icn_default.svg");
		background-position: center;
		background-repeat: no-repeat;

		&:hover {
			background-color: $light-dark-blue;
			cursor: pointer;
		}
	}

	#add-button {
		background-image: url("/assets/sidebar/new_bug_default.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		&:hover {
			background-image: url("/assets/sidebar/new_bug_hover.svg");
			cursor: pointer;
		}
	}
}
